---
import { actions } from "astro:actions";
import Test from "../components/Test";

const result = Astro.getActionResult(actions.logoutUser);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Brave new actions</h1>
    <Test client:only="solid" />
    {result?.data?.cookieDeleted && <p>Cookie deleted</p>}

    <form method="POST" action={actions.logoutUser}>
      <button>Log out</button>
    </form>
  </body>
</html>
