---
import { getActionProps, actions } from "astro:actions";
import Test from "../components/Test";

const { key } = await actions.test({ key: "42" });
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro {key}</h1>
    <Test client:only="solid" />

    <form method="POST">
      <input {...getActionProps(actions.logoutUser)} />
      <button>Log out</button>
    </form>
  </body>
</html>
